html,
body,
#__next,
#mainDiv {
  width: 100%;
  height: 100vh;
  margin: 0;
}

@font-face {
  font-family: Otterco;
  src: url("/fonts/Otterco-Regular.otf");
  format: ("otf");
  font-display: swap;
}